<div class="container px-4 py-5">
    <div class="row text-center">
        <div class="row mb-3">
            <div>
                <span class="section-name px-3 py-2 fw-bold">{{portfolio.sectionName}}</span>
            </div>
        </div>
        <div class="row">
            <p class="fs-2"><b>{{ portfolio.title.split(",")[0]}}<span class="section-title">{{ portfolio.title.split(",")[1]}}</span></b></p>
        </div>
        <div class="container py-5">
            <ul class="nav nav-pills justify-content-center py-1">
                <li class="nav-item">
                  <a class="nav-link active">All</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">App</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Card</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Web</a>
                </li>
              </ul>
        </div>
        
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
                <div class="col" *ngFor="let item of portfolioItems">
                    <img class="img-fluid" [src]="item.pictureUrl" alt="">
                </div>
            </div>
        </div>
    </div>
</div>