li.nav-item{
    margin: 2px;
}

li.nav-item > a.active{
    outline: #106eea solid 1px;
    outline-offset: 2px;
}
li.nav-item > a:hover:not(.active){
    background-color: #106eea;
    color: white;
    outline: #106eea dotted 1px;
    outline-offset: 2px;
}
li.nav-item > a:not(.active){
    color: #212529;
}

