<div class="container px-4 py-5">
    <div class="row text-center">
        <div class="row mb-3">
            <div>
                <span class="section-name px-3 py-2 fw-bold">Services</span>
            </div>
        </div>
        <div class="row">
            <p class="fs-2"><b>Check Our <span class="section-title">Services</span></b></p>
        </div>

        <div class="container px-4 py-5" id="services-3">
            <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
              <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-activity"></i>
                        </div>
                        <h3>Nesciunt Mete</h3>
                        <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
                    </div>
                </div>
                <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-broadcast"></i>
                        </div>
                        <h3>Eosle Commodi</h3>
                        <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                    </div>
                </div>
                <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-easel"></i>
                        </div>
                        <h3>Ledo Markt</h3>
                        <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                    </div>
                </div>
                <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-bounding-box-circles"></i>
                        </div>
                        <h3>Asperiores Commodit</h3>
                        <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                    </div>
                </div>
                <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-calendar4-week"></i>
                        </div>
                        <h3>Velit Doloremque</h3>
                        <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
                    </div>
                </div>
                <div lass="col service-col">
                    <div class="service-item">
                        <div class="feature-icon">
                            <i class="bi bi-chat-square-text"></i>
                        </div>
                        <h3>Dolori Architecto</h3>
                        <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
                    </div>
                </div>
          </div>
        </div>
    </div>
</div>